.catalog__container {
  .container();
}

.catalog__title {
  .section-title-mobile();
}

@media (min-width: @tablet-width) {
  .catalog__title {
    .section-title-tablet();
    margin-bottom: 156px;
  }
}

.catalog__list {
  .list-reset();
}

@media (min-width: @tablet-width) {
  .catalog__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.catalog__item {
  height: 210px;
}

@media (min-width: @tablet-width) {
  .catalog__item {
    background-color: #f2f2f2;
    width: 324px;
    height: 431px;
    margin-bottom: 140px;
    position: relative;
  }
}

@media (min-width: @desktop-width) {
  .catalog__item {
    width: 245px;
    height: 431px;
  }
}

.catalog__item-wrapper {
  display: flex;
}

.catalog__img {
  float: left;
}

@media (min-width: @tablet-width) {
  .catalog__img {
    position: absolute;
    left: 0;
    bottom: 300px;
  }
}

.catalog__description {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

@media (min-width: @tablet-width) {
  .catalog__description {
    margin-top: 165px;
  }
}

.catalog__description-title {
  font-family: @font-family;
  font-size: 16px;
  line-height: 1.25;
  color: #111111;
  text-transform: uppercase;
  margin-top: 25px;
  margin-bottom: 18px;
}

@media (min-width: @tablet-width) {
  .catalog__description-title {
    text-align: center;
    font-size: 20px;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 28px;
  }
}

.catalog__table {
  font-family: @font-family-arial;
  font-size: 12px;
  height: 40px;
  margin-bottom: 23px;
}

@media (min-width: @tablet-width) {
  .catalog__table {
    font-size: 16px;
    line-height: 2;
    border-collapse: collapse;
    margin-left: 38px;
    margin-right: 38px;
  }
}

@media (min-width: @tablet-width) {
  .catalog__table-row {
    border-bottom: solid rgba(17, 17, 17, 0.1) 1px;
  }
}


.table-data-right {
  text-align: right;
}

/*.catalog__button {
  background-color: #68b738;
  font-size: 16px;
  font-family: @font-family;
  line-height: 1.25;
  color: #ffffff;
  text-transform: uppercase;
  display: block;
  width: 280px;
  height: 40px;
  text-align: center;
  border: none;
  margin: 0 auto;
}*/

@media (min-width: @tablet-width) {
  .catalog__button {
    width: 249px;
  }
}

@media (min-width: @desktop-width) {
  .catalog__button {
    width: 169px;
  }
}
