.contacts {
margin: 0;
}

.contacts__text {
  .container();
  height: 114px;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: @tablet-width) {
  .contacts__text {
    height: 200px;
    margin-top: 76px;
    padding-left: 71px;
    padding-right: 72px;
  }
}

@media (min-width: @desktop-width) {
  .contacts__text {
    max-width: 570px;
  }
}

.contacts__cooperation {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.25;
  color: #111111;
  text-transform: uppercase;
  font-family: @font-family;
  width: 50%;
  padding-right: 29px;
}

@media (min-width: @tablet-width) {
  .contacts__cooperation {
    font-size: 20px;
    display: block;
    width: 154px;
    height: 70px;
  }
}

.contacts__address {
  font-family: @font-family-arial;
  font-size: 14px;
  line-height: 1.43;
  width: 140px;
}

@media (min-width: @tablet-width) {
  .contacts__address {
    font-size: 16px;
    line-height: 1.25;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 170px;
    height: 76px;
    text-align: right;
  }
}
