.extra__container {
  .container();
}

@media (min-width: @tablet-width) {
  .extra {
    margin-top: -70px;
  }
}

.extra__title {
  display: block;
  font-family: @font-family;
  font-size: 24px;
  line-height: 1;
  color: #111111;
  margin-bottom: 30px;
  margin-top: 30px;
  position: relative;
}

.extra__title::after {
  position: absolute;
  content: "";
  width: 53px;
  height: 3px;
  background: #68b738;
  top: 50%;
  right: 0;
}

@media (min-width: @tablet-width) {
  .extra__title {
    font-size: 36px;
    padding-left: 30px;
  }
}

@media (min-width: @tablet-width) {
  .extra__title::after {
    position: absolute;
    content: "";
    width: 315px;
    height: 3px;
    background: #68b738;
    top: 60%;
    right: 0;
  }
}

@media (min-width: @tablet-width) {
  .extra__title::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 3px;
    background: #68b738;
    top: 60%;
    left: -30px;
  }
}

@media (min-width: @desktop-width) {
  .extra__title {
    padding-left: 0;
    margin-bottom: 75px;
  }
}

@media (min-width: @desktop-width) {
  .extra__title::after {
    position: absolute;
    content: "";
    width: 750px;
  }
}

@media (min-width: @desktop-width) {
  .extra__title::before {
    width: 80px;
    left: -110px;
  }
}

@media (min-width: @desktop-width) {
  .extra__wrapper {
    display: flex;
  }
}

.extra__list {
  .list-reset();
  display: flex;
  flex-direction: column;
}

@media (min-width: @tablet-width) {
  .extra__list {
    border: solid rgba(17, 17, 17, 0.1) 1px;
  }
}

@media (min-width: @desktop-width) {
  .extra__list {
    border: solid rgba(17, 17, 17, 0.1) 1px;
    border-left: none;
    border-right: none;
    width: 855px;
  }
}

.extra__element {
  height: 130px;
  border-top: solid rgba(17, 17, 17, 0.1) 1px;
}

.extra__element-table--right {
  text-align: right;
}

@media (min-width: @tablet-width) {
  .extra__element {
    height: 140px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 28px;
    padding-bottom: 28px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: @desktop-width) {
  .extra__element {
    flex-wrap: nowrap;
    height: 70px;
    padding-left: 0;
    padding-right: 0;
  }
}

.extra__element--vitamins {
  border-bottom: solid rgba(17, 17, 17, 0.1) 1px;
}

@media (min-width: @tablet-width) {
  .extra__element--sugar {
    border-top: none;
  }
}

@media (min-width: @tablet-width) {
  .extra__element--vitamins {
    border-bottom: none;
  }
}

.extra__element-title {
  display: block;
  font-family: @font-family;
  font-size: 16px;
  line-height: 1;
  color: #111111;
  text-transform: uppercase;
  font-weight: normal;
  padding-top: 14px;
  padding-bottom: 15px;
}

@media (min-width: @tablet-width) {
  .extra__element-title {
    font-size: 20px;
    width: 50%;
    padding-top: 0;
  }
}

@media (min-width: @desktop-width) {
  .extra__element-title {
    width: 33%;
  }
}

.extra__element-table {
  font-family: @font-family-arial;
  font-size: 14px;
  line-height: 1;
}

@media (min-width: @tablet-width) {
  .extra__element-table {
    font-size: 16px;
    line-height: 1.25;
    width: 250px;
    text-align: right;
  }
}

@media (min-width: @desktop-width) {
  .extra__element-table {
    width: 33%;
    text-align: left;
  }
}

.extra__button {
  background-color: #68b738;
  font-size: 16px;
  font-family: @font-family;
  line-height: 1.25;
  color: #ffffff;
  text-transform: uppercase;
  display: block;
  width: 280px;
  height: 40px;
  text-align: center;
  border: none;
  margin: 0 auto;
  margin-top: 14px;
}

@media (min-width: @tablet-width) {
  .extra__button {
    width: 633px;
    margin-top: 0;
  }
}

@media (min-width: @desktop-width) {
  .extra__button {
    width: 245px;
    margin: 0;
    float: right;
  }
}
