.main-info {
  background-color: green;
  background-image: url("../img/index-background-mobile@1x.jpg");
  color: @btn-color;
}

.main-info__container {

}

.main-info__title {

}

.main-info__description {

}

.main-info__img {

}

.main-info__button {

}
