.main-nav {
  font-family: @font-family;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  margin: 0;
  position: relative;
  z-index: 10;
}

@media (min-width: @tablet-width) {
  .main-nav {
    font-weight: 400;
    height: 100px;
    width: 100%;
    padding-top: 20px;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    height: 113px;
    width: 50%;
  }
}

.burger {
  display: inline-block;
  position: absolute;
  top: -43px;
  right: 20px;
  z-index: 1;
  width: 25px;
  border: 0;
  padding: 0;
  line-height: 10px;
  background: 0 0;
  user-select: none;
  cursor: pointer;
}

.burger > span {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 2px;
  vertical-align: middle;
  font-size: 0;
  color: transparent;
  background: #000000;
  transition: background 0.3s 0.3s;
}

.burger > span::before,
.burger > span::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: #000000;
  transform-origin: 50% 50%;
  transition: top 0.3s 0.3s, transform 0.3s;
}

.burger > span::before {
  top: -8px;
}

.burger > span::after {
  top: 8px;
}

.burger--close > span {
  transition: background 0.3s 0s;
  background: 0 0;
}

.burger--close > span::before,
.burger--close > span::after {
  top: 0;
  transition: top 0.3s, transform 0.3s 0.3s;
}

.burger--close > span::before {
  transform: rotate3d(0, 0, 1, 45deg);
}

.burger--close > span::after {
  transform: rotate3d(0, 0, 1, -45deg);
}

.main-nav__wrapper {
  margin: 0;
}

.main-nav__list {
  .list-reset();
  display: flex;
  flex-direction: column;
}

@media (min-width: @tablet-width) {
  .main-nav__list {
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
    line-height: 1.39;
  }
}

@media (min-width: @desktop-width) {
  .main-nav__list {
    font-size: 20px;
    line-height: 1.5;
  }
}

.main-nav__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 65px;
  border-top: solid rgba(17, 17, 17, 0.1) 1px;
}

@media (min-width: @tablet-width) {
  .main-nav__item {
    justify-content: flex-end;
    padding: 0;
    margin: 0;
    border: none;
  }
}

.main-nav__link {
  .link-reset();
}

.main-nav__item:hover {
  color: rgba(17, 17, 17, 0.6);
}

.main-nav__item:focus {
  color: rgba(17, 17, 17, 0.6);
}

.main-nav__item:active {
  color: rgba(17, 17, 17, 0.3);
}

​.main-nav__toggler {
  display: inline-block;
  border: 0;
  padding: 0;
  background: 0 0;
}

.no-js .main-nav__toggler {
  display: none;
}

@media (min-width: @tablet-width) {
  .main-nav__toggler {
    display: none;
  }
}

@media (max-width: @tablet-width) {
  .js .main-nav__list {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s;
  }

  .js .main-nav--open .main-nav__list {
    max-height: 100vh;
    transition: max-height 0.6s;
  }
}

@media (min-width: @tablet-width) {
  .main-nav__item--active .main-nav__text {
    padding-bottom: 10px;
    border-bottom: 2px solid #68b738;
  }
}

