.order-all {
  .container();
  background-color: #68b738;
  height: 300px;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 39px;
  margin-bottom: 35px;
  display: flex;
  justify-content: center;
  position: relative;
}

.order-all::before {
  position: absolute;
  content: "";
  background-image: url("../img/icon-gift.svg");
  width: 56px;
  height: 61px;
  background-repeat: no-repeat;
  top: 65px;
  left: 42%;
  z-index: 1;
}

.order-all__description {
  font-family: @font-family-arial;
  font-size: 16px;
  line-height: 1.25;
  color: #ffffff;
  margin: 0;
  padding: 0;
  padding-top: 190px;
  text-align: center;
  width: 159px;
}

.extra__element-table {
  width: 100%;
}

.extra__element-table--right {
  text-align: right;
}
