.page-header {
  color: #111111;
}

.page-header__wrapper {
  display: flex;
  flex-direction: column;
}

@media (min-width: @tablet-width) {
  .page-header__container {
    .container();
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: @desktop-width) {
  .page-header__container {
    background: linear-gradient(to right, #ffffff 50%, #68b738 50%);
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-position: 100% 0%;
    background-repeat: no-repeat;
  }
}

@media (min-width: @tablet-width) {
  .page-header__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.page-header__logo {
  height: 65px;
  padding-top: 15px;
  padding-left: 20px;
  cursor: pointer;
}

.page-header__logo:hover {
  opacity: 0.8;
}

.page-header__logo:focus {
  opacity: 0.8;
}

.page-header__logo:active {
  opacity: 0.6;
}

@media (min-width: @tablet-width) {
  .page-header__logo {
    height: 59px;
    width: 174px;
    padding-left: 0;
    margin-top: 10px;
  }
}

@media (min-width: @desktop-width) {
  .page-header__logo {
    height: 60px;
    width: 203px;
  }
}