.real-example {
  background-color: #eaeaea;
}

.real-example__container {
  .container();
}

@media (min-width: @tablet-width) {
  .real-example__container {
    //margin-left: 30px;
    //margin-right: 30px;
  }
}

@media (min-width: @desktop-width) {
  .real-example__container {
    //margin-left: 110px;
    //margin-right: 110px;
  }
}

.real-example__title {
  .section-title-mobile();
}

@media (min-width: @tablet-width) {
  .real-example__title {
    font-size: 60px;
    line-height: 1;
  }
}

.real-example__description {
  font-family: Arial;
  font-size: 14px;
  line-height: 1.29;
  text-align: left;
}

@media (min-width: @tablet-width) {
  .real-example__description {
    font-size: 16;
    line-height: 1.5;
  }
}

.real-example__td1 {
  font-size: 24px;
  color: #111111;
  line-height: 1;
  text-transform: uppercase;
}

.real-example__td2 {
  font-family: Arial;
  font-size: 12px;
  line-height: 1;
}

.real-example__data-cost {
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  text-transform: uppercase;
}
