.real-example {
  background-color: #eaeaea;
  margin: 0;
  padding: 0;
  .container();
}

@media (min-width: @tablet-width) {
  .real-example {
    background-color: #ffffff;
    border-top: solid 1px rgba(17, 17, 17, 0.1);
  }
}

@media (min-width: @desktop-width) {
  .real-example {
    display: flex;
    background-color: #eaeaea;
  }
}

/*.real-example__container {
  .container();
}*/

@media (min-width: @desktop-width) {
  .real-example__container {
    width: 50%;
  }
}

/* Собственно сам слайдер */
.real-example__slider {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 90%;
  position: relative;
  margin: auto;
  height: 300px;
  margin-bottom: 15px;
}

@media (min-width: @tablet-width) {
  .real-example__slider {
    background-color: #eaeaea;
    height: 500px;
  }
}
/* Картинка мастабируется по отношению к родительскому элементу */
.real-example__slider .real-example__item picture {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border: none !important;
  box-shadow: none !important;
}

@media (min-width: @tablet-width) {
  .real-example__before {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: @tablet-width) {
  .real-example__after {
    width: 100%;
    height: 100%;
  }
}
/* Кнопки вперед и назад */
.real-example__slider .prev, .real-example__slider .next {
  cursor: pointer;
  position: absolute;
  top: 0;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
.real-example__slider .prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}
.real-example__slider .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* При наведении на кнопки добавляем фон кнопок */
.real-example__slider .prev:hover,
.real-example__slider .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
/* Заголовок слайда */
.slideText {
  position: absolute;
  color: #fff;
  font-size: 35px;
  /* Выравнивание текста по горизонтали и по вертикали*/
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* Тень*/
  text-shadow: 1px 1px 1px #000, 0 0 1em #000;
}
/* Кружочки */
.slider-dots {
  text-align: center;
}
.slider-dots_item{
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 2px;
  background-color: #ddd;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active,
.slider-dots_item:hover {
  background-color: #aaa;
}
/* Анимация слайдов */
.real-example__slider .real-example__item {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
      opacity: .4
  }
  to {
      opacity: 1
  }
}
@keyframes fade {
  from {
      opacity: .4
  }
  to {
      opacity: 1
  }
}


@media (min-width: @tablet-width) {
  .real-example__wrapper {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: @desktop-width) {
  .real-example__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.real-example__title {
  .section-title-mobile();
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

@media (min-width: @tablet-width) {
  .real-example__title {
    font-size: 60px;
    line-height: 1.5;
    margin-bottom: 60px;
  }
}

.real-example__description {
  font-family: @font-family-arial;
  font-size: 14px;
  line-height: 1.29;
  text-align: left;
  margin: 0;
  padding: 0;
  padding-right: 14px;
  margin-bottom: 27px;
}

@media (min-width: @tablet-width) {
  .real-example__description {
    font-size: 16px;
    line-height: 1.5;
    padding-right: 33px;
    margin-bottom: 56px;
  }
}

.real-example__data {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

@media (min-width: @tablet-width) {
  .real-example__data {
    width: 370px;
  }
}

.real-example__results {
  display: flex;
  flex-direction: column;
}

.real-example__number {
  font-family: @font-family;
  font-size: 24px;
  color: #111111;
  line-height: 1;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 124px;
  height: 56px;
  border: solid 1px rgba(17, 17, 17, 0.1);
  border-radius: 3px;
  position: relative;
  margin-bottom: 20px;
}

@media (min-width: @tablet-width) {
  .real-example__number {
    font-size: 30px;
    width: 162px;
    height: 72px;
  }
}

.real-example__done {
  font-family: @font-family-arial;
  font-size: 12px;
  line-height: 1;
  width: 87px;
  height: 25px;
  position: absolute;
  background-color: #eaeaea;
  z-index: 2;
  margin-top: 50px;
  margin-left: 18px;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .real-example__done {
    font-size: 14px;
    background-color: #ffffff;
    width: 142px;
    height: 27px;
    margin-top: 62px;
    margin-left: 10px;
  }
}
@media (min-width: @desktop-width) {
  .real-example__done {
    font-size: 14px;
    background-color: #eaeaea;
    width: 142px;
    height: 27px;
    margin-top: 62px;
    margin-left: 10px;
  }
}

.real-example__done--weight {
  padding-left: 5px;
}

@media (min-width: @tablet-width) {
  .real-example__done--weight {
    width: 114px;
    margin-left: 24px;
    padding: 0;
  }
}

.real-example__cost {
  font-family: @font-family;
  font-size: 14px;
  line-height: 1.43;
  text-transform: uppercase;
  color: #111111;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

@media (min-width: @tablet-width) {
  .real-example__cost {
    font-size: 20px;
    width: 175px;
    text-align: right;
    padding-top: 15px;
  }
}

@media (min-width: @desktop-width) {
  .real-example__cost {
    width: 300px;
    justify-content: left;
  }
}

@media (min-width: @tablet-width) {
  .real-example__background {
    background-color: #eaeaea;
    width: 100%;
    height: 462px;
    margin-top: -50%;
  }
}

/*.real-example__before-after {
  font-family: @font-family;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  color: #111111;
  width: 200px;
  margin: 0 auto;
  padding-top: 35px;
  padding-bottom: 35px;
  display: flex;
  justify-content: space-between;
}*/
