.show-more__header {
  font-size: 16px;
  line-height: 1.25;
  color: #111111;
  text-transform: uppercase;
  font-weight: normal;
}

.show-more__description {
  font-family: Arial;
  font-size: 12px;
  line-height: 1.33;
}
