.visually-hidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  border: 0;
  margin: -1px;
  padding: 0;
  clip: rect(0 0 0 0);
  white-space: nowrap;

  &:active,
  &:focus {
    position: static;
    overflow: visible;
    width: auto;
    height: auto;
    margin: 0;
    clip: auto;
    white-space: normal;
  }
}

.container {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.list-reset() {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link-reset() {
  text-decoration: none;
  color: inherit;
}

.container() {}
