@btn-color: #ffffff;
@btn-color-hvr: rgba(255, 255, 255, 0.6);
@btn-color-pressed: rgba(255, 255, 255, 0.3);

@text-color1: #111111;
@text-color2: #222222;
@text-color3: #444444;
@text-color1-hvr: rgba(17, 17, 17, 0.6);
@text-color1-active: rgba(17, 17, 17, 0.3);

@grey-lightest: rgba(34, 34, 34, 0.3);

@greyish-brown-lighter: rgba(68, 68, 68, 0.3);

@bg-color: #ffffff;

@btn-bg: #68b738;
@btn-bg-active: #5eaa2f;

@font-size: 14px;
@font-size-menu: 20px;

@font-size-h1: 36px;
@font-size-h2: 24px;
@font-size-h3: 36px;
